ROBOFLOW_API_KEY=YOUR_ROBOFLOW_API_KEY
ROBOFLOW_WORKSPACE=kens-workspace-vdhed
ROBOFLOW_WORKFLOW=ppe-compliance-tracking-logging-final
LOCAL_INFERENCE_API_URL=http://127.0.0.1:9001
VIDEO_REFERENCE=0
IMAGE_INPUT_NAME=image
MAIN_DEBUG_COMPLIANCE=1
MAIN_DEBUG_COMPLIANCE_INTERVAL_SECONDS=5
